.register-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/orb-background.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.register-container {
  height: auto; 
  min-height: 700px; 
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.204);
  border: 4px solid rgba(0, 87, 226, 0.863);
  border-radius: 10px;
  padding: 20px;

}

.text-field-container {
  width: 80%; 
}

.register-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-title h2 {
  text-decoration: underline;
  color: #000000;
}

.register-fields {
  width: 100%;
  margin-top: -20px;
}

.register-fields div {
  margin-bottom: 15px;
}

.register-username,
.register-password,
.register-firstName,
.register-lastName,
.register-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.register-label {
  font-size: 18px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}

.register-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.register-buttons {
  text-align: center;
  margin-top: 20px;
}

.register-button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3f4363;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.register-button:hover {
  background-color: #059647;
  color: #ffffff;
  border: none;
}
