.user-info-page-container {
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.user-edit-button {
  margin-left: 15px;
}

.user-info-header {
  position: static;
  margin-top: -41%;
  text-align: center;
  text-decoration: underline;
  z-index: 2;
}

.user-info-box {
  position: fixed;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -20%;
  text-align: left;
  background-color: rgba(173, 216, 230, 0.649);
  border-radius: 15px;
  padding: 15px;
  z-index: 1;
}

.user-info-field-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-info-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.user-info-field strong {
  margin-right: auto;
}

.email-validation-error {
  color: red;
}
