.welcome-message {
  width: 100vw;
  height: 100vh;
  margin-top: 70px;
  position: fixed;
  justify-content: center;
}

.welcome-header {
  text-align: center;
}

.welcome-paragraph {
  text-align: center;
}
